body {
    background: pink;
}

#caixa1 {
    width: 300px;
    height: 60px;
    background-color: green;
}

#caixa2 {
    width: 300px;
    height: 60px;
    background-color: gray;
}

.conteudo {
    width: 50%;
    height: 30px;
    background-color: red;
    border: 1px solid #000;
}

